@model IEnumerable<CloseUp.Models.JournalEntryListItem>

<link href="@Url.Content("~/Content/JournalIndex.css")" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Index", "Prompt")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JournalEntryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prompt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPublic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tag)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JournalEntryId)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Prompt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhotoUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPublic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tag)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.JournalEntryId }) |
                @Html.ActionLink("Details", "Details", new { id = item.JournalEntryId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.JournalEntryId })
            </td>
        </tr>
    }

</table>



@foreach (var item in Model)
{
    <div class="card" style="width: auto;">
        <div class="card-body">
            <h5 class="card-title">
                @Html.DisplayFor(modelItem => item.Prompt)
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
                Tag:
                @Html.DisplayFor(modelItem => item.Tag)
            </h6>
            <p class="card-text">
                @Html.DisplayFor(modelItem => item.Content)
            </p>
            @Html.ActionLink("Edit", "Edit", new { id = item.JournalEntryId }) |
            @Html.ActionLink("Details", "Details", new { id = item.JournalEntryId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.JournalEntryId })
        </div>
    </div>

}


