@model IEnumerable<CloseUp.Models.JournalEntryListItem>
@using CloseUp.Models
@using CloseUp.Data

<link href="@Url.Content("~/Content/JournalIndex.css")" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

<div class="head">
    <p>
        <h2>Journal Entries</h2>@Html.ActionLink("Create New", "Index", "Prompt") |
        @Html.ActionLink("Browse Public Entries", "PublicJournalEntries", "JournalEntry", new { publicPost = PublicOrPrivate.Public }, new { })
    </p>
</div>


<br />


@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}


@foreach (var item in Model)
{
    <div class="card" style="width: auto;">
        <div class="card-body">
            <h5 class="card-title">
                @Html.DisplayFor(modelItem => item.Prompt)
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
                Tag:
                @Html.DisplayFor(modelItem => item.Tag) |
                @Html.DisplayFor(modelItem => item.CreatedUtc) |
                @Html.DisplayFor(modelItem => item.PublicOrPrivate)

            </h6>
            <p class="card-text">
                @Html.DisplayFor(modelItem => item.Content)
            </p>
            @Html.ActionLink("Edit", "Edit", new { id = item.JournalEntryId }) |
            @Html.ActionLink("Details", "Details", new { id = item.JournalEntryId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.JournalEntryId })
        </div>
    </div>

}


