@model IEnumerable<CloseUp.Models.ResourceListItem>
@using CloseUp.Models
@using CloseUp.Data
@{
    ViewBag.Title = "Index";
}
<link href="@Url.Content("~/Content/ResourceIndex.css")" rel="stylesheet" type="text/css" />
>


<h3>Want to see resources for a specific need?</h3>

    
<div class="list-group">
 
    <ul>
        <li class="list-group-item"> @Html.ActionLink("Mindfulness", "ResourceByTag", "HelpResources", new { tag = Tag.Mindfulness }, new { }) </li>
        <li class="list-group-item"> @Html.ActionLink("Health and Wellness", "ResourceByTag", "HelpResources", new { tag = Tag.HealthAndWellness }, new { }) </li>
        <li class="list-group-item"> @Html.ActionLink("LGBT+", "ResourceByTag", "HelpResources", new { tag = Tag.LGBT }, new { }) </li>
        <li class="list-group-item"> @Html.ActionLink("BLM", "ResourceByTag", "HelpResources", new { tag = Tag.BLM }, new { }) </li>
        <li class="list-group-item"> @Html.ActionLink("Anxiety/Depression", "ResourceByTag", "HelpResources", new { tag = Tag.AnxietyAndDepression }, new { }) </li>
        <li class="list-group-item"> @Html.ActionLink("ADHD/ASD", "ResourceByTag", "HelpResources", new { tag = Tag.AdhdAndAutism }, new { }) </li>
        <li class="list-group-item"> @Html.ActionLink("Substance Abuse", "ResourceByTag", "HelpResources", new { tag = Tag.SubstanceAbuse }, new { })</li>
        <li class="list-group-item"> @Html.ActionLink("Other", "ResourceByTag", "HelpResources", new { tag = Tag.Other }, new { }) </li>

    </ul>
</div>


<br />

<div class="head">
    <h2>Resource Index</h2>

    <p>
        @Html.ActionLink("Create New Resource", "Create")
    </p>
</div>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<br />

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.ResourceInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.URL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tag)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ResourceInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.URL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tag)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ResourceId })
                @Html.ActionLink("Details", "Details", new { id = item.ResourceId })
                @Html.ActionLink("Delete", "Delete", new { id = item.ResourceId })
            </td>
        </tr>
    }

</table>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
