@model CloseUp.Models.PromptDetail
<link href="@Url.Content("~/Content/CRUDpages.css")" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Details";
}



<div>
    <div class="head">
        <h3>Prompt Details</h3>
    </div>

    <br />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prompt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prompt)
        </dd>

    </dl>
</div>
<p>
   
    @Html.ActionLink("Back to List", "Index")
</p>
